@import "bootstrap-sprockets";
@import "bootstrap";

.search-area {
  padding-top: 50px;
}

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}